app-ajuste-controladores {


    .PaginaContenido {
        padding-left: 12px;
        padding-right: 12px;
    }

    .mat-form-field-wrapper {
        margin: 0.25em 0;
        padding-bottom: 5px;
    }

}