app-ajuste-controladores {


    .PaginaContenido {
        padding-left: 12px;
        padding-right: 12px;

        .startBtn {
            background-color: #4caf50;
            color: white;
        }
    }

    .mat-form-field-wrapper {
        margin: 0.25em 0;
        padding-bottom: 5px;
    }

}