<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="card-background-page">
        <ion-card>
          <div class="mat-elevation-z32">
            <img src="/assets/mi_Robot.png">
          </div>

        </ion-card>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <span class='mat-title' style="margin:0px !important; font-size:18px !important;">
                {{p.title}}
              </span>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>