<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Controladores</ion-title>
    <button mat-icon-button style="margin-right: 10px;" slot="end" (click)="onConectBluetooth()">
      <mat-icon style="font-size:24px;">bluetooth</mat-icon>
    </button>

    <button style="margin-right: 20px;" mat-icon-button slot="end">
      <span style="font-size:14px;">{{this.utilService.bateria.toFixed(0)+'%'}}</span>
      <mat-icon *ngIf="this.utilService.bateria >=50 && this.utilService.bateria <=99" style="font-size:24px;">
        battery_full</mat-icon>
      <mat-icon *ngIf="this.utilService.bateria === 100" style="font-size:24px;">battery_charging_full</mat-icon>
      <mat-icon *ngIf="this.utilService.bateria < 50 " style="font-size:24px;">battery_alert</mat-icon>
    </button>

  </ion-toolbar>
</ion-header>

<mat-tab-group class="TabsContent" (selectedTabChange)="OnTabChange($event.index)" color="primary"
  mat-align-tabs="center" backgroundColor="primary" animationDuration="1150ms">

  <mat-tab label="MANUAL">

    <ng-template matTabContent>
      <div fxLayout="column" style="padding:16px;" fxLayoutAlign="space-between stretch" fxLayoutGap="gappx">
        <app-manual [currentIndex]="TabsIndex" [index]="0"></app-manual>
        <div fxLayout="row" class="estado-manual" fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="gappx">
          <app-state-table [currentIndex]="TabsIndex" [index]="0"></app-state-table>
        </div>
      </div>
    </ng-template>

  </mat-tab>

  <mat-tab label="AUTOMÁTICO">

    <ng-template matTabContent>
      <div fxLayout="column" style="padding:16px;" fxLayoutAlign="space-between stretch" fxLayoutGap="gappx">
        <app-automatico [currentIndex]="TabsIndex" [index]="1"></app-automatico>
        <div fxLayout="row" class="estado-automatico" fxFlex="100" fxLayoutAlign="center center" fxLayoutGap="gappx">
          <app-state-table [currentIndex]="TabsIndex" [index]="1"></app-state-table>
        </div>
      </div>
    </ng-template>

  </mat-tab>

</mat-tab-group>