app-controladores {
    .mat-tab-body {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        flex-basis: 100%;
        padding: 24px;
    }

    .mat-tab-label-content {
        font-weight: 600;
    }

    .estado-manual {
        margin-top: 15px !important;
    }

    .estado-point-tracker {
        margin-top: 50px !important;
    }

    .estado-automatico {
        margin-top: 50px !important;
    }
}