app-controladores {

    .TabsContent {
        overflow-y: scroll !important;
        //padding: 16px !important;

    }




    .mat-tab-label-content {
        font-weight: 600;
    }

    .estado-manual {
        padding-top: 25px !important;
    }

    .estado-automatico {
        padding-top: 25px !important;
    }
}