<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Controladores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-tab-group color="primary" backgroundColor="primary" fxFlex="100">
    <mat-tab label="MANUAL">
      <!-- <button mat-raised-button color="primary">Action</button> -->
      

    </mat-tab>
    <mat-tab label="AUTOMÁTICO">

    </mat-tab>
    <mat-tab label="POINT TRACKER">

    </mat-tab>
  </mat-tab-group>
</ion-content>