app-state-table {
    width: 100% !important;

    .guardarBtn {
        border-color: #4caf50 !important;
        color: #4caf50 !important;
    }

    .PararBtn {
        border-color: #f44336 !important;
        color: #f44336 !important;
    }

    .estado-table {

        .mat-header-row {
            min-height: 40px;
        }

        .mat-column-variable {
            flex: 1 1 24px;
        }

        .mat-column-valor {
            flex: 1 1 0px;
        }

        .mat-column-media {
            flex: 1 1 0px;
        }

        .mat-column-varianza {
            flex: 1 1 0px;
        }

        .variable {
            position: relative;
            cursor: pointer;
            height: 40px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }



    }
}