<mat-toolbar-row fxLayoutAlign="space-between center">
  <span class="mat-title">Variables del Robot</span>
  <button *ngIf="!this.holdPosicion" mat-stroked-button class="guardarBtn" (click)="onHoldPosition()">
    <mat-icon class="mat-18">lock_open</mat-icon>
    POSICIÓN
  </button>
  <button *ngIf="this.holdPosicion" mat-stroked-button class="PararBtn" (click)="onLeavePosition()">
    <mat-icon class="mat-18">lock</mat-icon>
    POSICIÓN
  </button>



</mat-toolbar-row>

<mat-table class="estado-table" [dataSource]="dataSource" class="mat-elevation-z4">

  <!-- Variable -->
  <ng-container matColumnDef="variable">
    <mat-header-cell *matHeaderCellDef>
      {{'Variable'}}
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>{{element.variableTitle}}</span>
    </mat-cell>
  </ng-container>


  <!-- Valor -->
  <ng-container matColumnDef="valor">
    <mat-header-cell *matHeaderCellDef>
      <span style="margin-left: 15px;">Valor</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span style="margin-left:15px;">
        {{element.valor.toFixed(2)+'  '+element.unidadMedida}}
      </span>
    </mat-cell>
  </ng-container>

  <!-- Media -->
  <ng-container matColumnDef="media">
    <mat-header-cell *matHeaderCellDef>
      <span style="margin-left:6px; ">Promedio</span>

    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span style="margin-left:15px;">
        {{element.media.toFixed(2) + '  ' + element.unidadMedida }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let element; columns: displayedColumns;" class="variable">
  </mat-row>

</mat-table>

<div fxLayout="row" style="margin-top:10px;" fxLayoutAlign="space-between center" fxLayoutGap="gappx">

  <button mat-stroked-button *ngIf="!this.almacenarDatos" class="guardarBtn" (click)="onSaveData()">
    <mat-icon style="font-size: 20px;">save</mat-icon>
    GUARDAR DATOS
  </button>
  <button mat-stroked-button *ngIf="this.almacenarDatos" class="PararBtn" (click)="onStopGettingData()">
    PARAR ADQUISICIÓN
  </button>

  <button mat-raised-button color="primary" (click)="Refresh()">
    <mat-icon style="font-size: 20px;">refresh</mat-icon>
  </button>
</div>