.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.bluetooth-ico {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  color: white;
  font-size: 30px !important;
  margin-bottom: 7px;
}