<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <button mat-icon-button style="margin-right: 10px;" slot="end" (click)="onConectBluetooth()">
      <mat-icon style="font-size:32px;">bluetooth</mat-icon>
    </button>
    <!-- <button slot="end" color="primary" mat-button (click)="onConectBluetooth()">
      <mat-icon class="bluetooth-ico">bluetooth</mat-icon>
    </button> -->
    <ion-title>
      Vista Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/MyRobot.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Aplicacion desarrollada por Jose Alejandro Concepción</ion-card-subtitle>
      <ion-card-title>Controlador del Robot Autobalanceado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>






</ion-content>